

img{
    width: 10%;
    margin-top: 400px;
    margin-left: 50%;
}

:root {
    cursor: none;
    --cursorX: 50px;
    --cursorY: 50px;
  }
  :root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 80px at var(--cursorX) var(--cursorY),
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,.5) 80%,
      rgba(0,0,0,1) 100%
    )
  }